@model Category

<div class="container">
    <h2>Create Category</h2>
    <form method="post">
        <div>
            <div class="row">
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <input type="hidden" asp-for="CategoryId"/>
                <div class="mb-3">
                    <label asp-for="Name">Category Name</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayOrder">Display Order</label>
                    <input asp-for="DisplayOrder" type="text" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="gap-3 d-flex">
                    <button type="submit" class="btn btn-primary " style="width:150px">Update</button>
                    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Go back</a>
                </div>
            </div>
        </div>
    </form>
</div>
